<!doctype html>
<html>
<head>
    <title>Coffee Shop</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
<div class="container">

    <div class="page-header text-center white-text">
        <h1><span class="fa fa-anchor"></span>Barista</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <!-- <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div> -->
        <div class="col-sm-6">
          <h3 class="white-text">Orders</h3>
          <ol class="white-text">
          <% for(var i=0; i<orders.length; i++) {%>
            <li class="order">
              <span><%= orders[i].customerName %></span>
              <span><%= orders[i].coffee %></span>
              <span><%= orders[i].toma %></span>
              <span><i class="fas fa-check" aria-hidden="true"></i></span>
              <span><i class="fas fa-times" aria-hidden="true"></i></span>
            </li>
          <% } %>
        </ol>
<!--
          <h2>Add a message</h2>
        <% if (user.local.email) { %>
          <form action="/messages" method="POST">
            <input type="text" value="<%= user.local.email %>" name="name">
            <input type="text" placeholder="message" name="msg">
            <input type="text" placeholder="City" name="city">
            <button type="submit">Submit</button>
          </form>
        </div>
        <% } %> -->

</div>

<script src="main.js"></script>

</body>
</html>
